beautifulsoup4==4.5.3
certifi==2017.11.5
chardet==3.0.4
cx-Freeze==5.0.2
cycler==0.10.0
idna==2.6
matplotlib==2.1.1
numpy==1.13.3
olefile==0.44
Pillow==4.3.0
pygame==1.9.3
pyparsing==2.2.0
python-dateutil==2.6.1
pytz==2017.3
requests==2.18.4
six==1.11.0
urllib3==1.22
wordcloud==1.3.2
