<!-- extend from base layout -->
{% extends "base.html" %}

{% block content %}

    <section class="header-wrap hero-section bg-light">
      <div class="container">
        <div class="logo-container text-center">
          <div class="logo-wrap">
              <div class="instagram-feed text-center">
                <h1>L O G I N</h1>
              </div>
          </div>
        </div>
      </div>
    </section>
<div style="padding: 50px 500px 10px;">
    <form class="bs-example bs-example-form" action="" method="post" name="login">
        {{form.hidden_tag()}}
        <h5 class="text-center">
                用户名：<br>
            {{form.username(size=80)}}<br>
        </h5>
        <h5 class="text-center">
                密码：<br>
            {{ form.password(size=80) }}<br>
        </h5>
        <p >{{form.remember_me}}</p>
        <p class="text-center"><input class="btn btn-lg btn-color mt-20" type="submit" value="登录"></p>

    </form>
</div>
{% endblock %}